/*  Add Patient css  */
.add-patients {
    width: 100%;
    padding: 2% 3%;
    background-color: #f5f5f5;
}

.add-patients-wrapper h3 {
    font-size: 18px;
    font-weight: 500;
    color: #000000E0;
}

.add-patients-form {
    background-color: #fafdff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 2rem;
}

.add-patients-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-patients-section {
    padding: 1.5rem;
    border-radius: 16px;
}

.section-title {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.add-patients-group {
    margin-bottom: 2.5rem;
}

.add-patients-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #000000E0;
}

.add-patients-group label>span {
    color: rgb(255, 0, 0);
}

.add-patients-group input[type="text"],
.add-patients-group input[type="email"],
.add-patients-group input[type="number"],
.add-patients-group select,
.add-patients-group textarea {
    color: #777777;
    width: 100%;
    padding: 0.6rem 3.5rem 0.5rem 0.6rem;
    border: 1px solid #cccccc;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.add-patients-group input:focus,
.add-patients-group select:focus,
.add-patients-group textarea:focus {
    border-color: #000000;
    outline: none;
}

.form-button {
    text-align: end;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.billing-btn {
    background: #22b6af;
    color: #fafafa;
    padding: 0.4rem 1rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid #22b6af;

}