/* Sidebar styles */
.sidebar {
    min-width: 300px;
    background-color: rgb(13 14 10);
    color: #22b6af;
    padding-top: 20px;
    height: 100vh;
    position: relative;
}

.sidebar .logo {
    margin: 2rem 3rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
}


.sidebar .logo h2 {
    margin: 0;
    font-size: 1.5rem;
}

.sidebar-menu {
    list-style: none;
    padding: 2rem 3rem;
}

.sidebar-menu li {
    padding: 15px 0;
}

.sidebar-item {
    display: block;
    color: #fafafa;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    transition: all 300ms ease-in-out;
}

.sidebar-item>i {
    color: #fafafa;
}

.sidebar-item:hover {
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}


.logout-btn {
    border: none;
    background-color: transparent;
    color: #fafafa;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 1rem 3rem;
    width: 100%;
    position: absolute;
    bottom: 3%;
    cursor: pointer;
}

.logout-btn i {
    color: red;
}

/* Dashboard styles */
.dashboard {
    background-color: #11140f;
    width: 100%;
    padding: 50px;
}

.dashboard h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: #FBFBFB;
}

.dashboard-summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.summary-item {
    background-color: rgb(0 0 0 / 30%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #262626;
}

.summary-item h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #FBFBFB;
}

.summary-item p {
    font-size: 1.3rem;
    color: #22b6af;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 500;
}



/* form */
.form-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-input, .form-select, .form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.form-input:focus, .form-select:focus, .form-textarea:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.25);
}

.form-textarea {
    resize: none;
}

.form-button {
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #0056b3;
}

@media (max-width: 480px) {
    .form-container {
        padding: 15px 20px;
    }
}