.addTestMain {
    width: 100%;
    padding: 2% 3%;
    background-color: #f5f5f5;
    display: flex;
    gap: 20%;
}

.addTestForm {
    background-color: #fafdff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 400px;
    height: 350px;
    padding-top: 2rem;
}

.addTestForm h3 {
    text-align: center;
}

.addTestWrapper {
    padding: 1.5rem;
    border-radius: 16px;
}

.addTestGroup {
    padding: 1rem 0;
}

.addTestGroup label {
    font-size: 14px;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #000000E0;
}

.addTestGroup label > span {
    color: rgb(255, 0, 0);
}

.addTestGroup input[type="text"],
.addTestGroup input[type="email"],
.addTestGroup input[type="number"],
.addTestGroup select,
.addTestGroup textarea {
    color: #777777;
    width: 100%;
    padding: 0.6rem 3.5rem 0.5rem 0.6rem;
    border: 1px solid #cccccc;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.addTestGroup input:focus,
.addTestGroup select:focus,
.addTestGroup textarea:focus {
    border-color: #000000;
    outline: none;
}

.addTestButton {
    text-align: end;
    padding-right: 2rem;
}

.addTestButton .addTestBtn {
    background: #22b6af;
    color: #fafafa;
    padding: 0.4rem 1rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid #22b6af;
}

.addTestButton .addTestBtn:hover {
    background: #22b6af;
}

.addTestList {
    background-color: #fafdff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 400px;
    height: 600px;
    padding-top: 2rem;
}

.addTestScroll {
    height: 85%;
    overflow-y: scroll;
}

.addTestList h3 {
    text-align: center;
    font-size: 22px;
    padding-bottom: 2rem;
}

.addTestTable {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.addTestTable h5 {
    font-size: 14px;
    font-weight: 500;
    color: #000000E0;
}
