/* /hero-component */

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#fdfff59a, #fdfff59a), url(../../assets/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}



.hero-text {
    width: 70%
}

.hero-heading {
    color: #1f2632;
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-text h1 {
    margin: 1.5rem 0;
    color: #1f2632;
    font-size: 5vw;
    font-weight: 700;
}

.hero-text p {
    font-size: 18px;
    font-weight: 400;
    color: #1f2632;
    margin-top: 1rem;
}

.hero-btn {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}

.hero-points {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.hero-points span {
    color: #1f2632;
    font-size: 18px;
    font-weight: 600;
}

.hero-points span i {
    color: #22b6af;
}

li {
    list-style: none;
}

/* /hero-component */

/* about-component */
.about-component {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    background-color: #f6f6f6;
}

.about-colums {
    display: flex;
    gap: 3rem;
}

.about-colums-1 {
    flex-basis: 50%;
}

.about-colum-1-text>span {
    color: #22b6af;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;

}

.about-colum-1-text h2 {
    margin: 1.5rem 0;
    color: #1f2632;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.about-colum-1-text p {
    color: #1f2632;
    font-size: 18px;
    font-weight: 400;
}

.about-component-btn {
    margin-top: 3rem;
}

.about-component-btn a {
    color: #fafdff;
    background-color: #22b6af;
    font-size: 16px;
    font-weight: 500;
    padding: 0.6rem 3rem;
    letter-spacing: 1px;
    font-family: "Livvic", sans-serif;
}

.about-colums-2 {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.about-wrap {
    display: flex;
    gap: 2rem;
}

.about-colum-2-text .about-wrap {
    padding: 2rem 0;
}

.about-icon {
    width: 30%;
}

.about-icon img {
    width: 100%;
}


.about-bullet {
    padding-top: 2rem;
}

.about-bullet h5 {
    padding-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: #1f2632;
}

.about-bullet h5 i {
    color: #22b6af;
    font-size: 18px;
    font-weight: 800;
}

.about-icon-text h4 {
    font-size: 22px;
    font-weight: 500;
    color: #1f2632;
    border-bottom: 1px solid #1f2632;
    padding-bottom: 0.5rem;
}

.about-icon-text p {
    font-size: 16px;
    font-weight: 400;
    color: #1f2632;
    padding: 0.5rem 0;
}

/* /about-component */



/* /app-details */

.app-details{
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .app-wrap {
    width: 80%;
    height: 80vh;
    background-color: #fff;
    border-radius: 30px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #22b6af;
    margin-top: 13%;
    margin-left: 9%;
  }
  .subtitle {
    font-size: 16px;
    color: #7f8c8d;
    margin-top: 14px;
    line-height: 1.6;
    margin-left: 9%;
  }
  .test-section {
    display: flex;
    gap: 40px;
    position: absolute;
    margin-top: 5%;
    margin-left: 7.5%;

  }
  
  .test-category h3 {
    font-size: 18px;
    color: #22b6af;
    margin-bottom: 28px;
  }
  
  .test-category ul {
    list-style-type: none;
    padding: 0;
  }
  
  .test-category li {
    font-size: 14px;
    color: #2c3e50;
    margin-bottom: 16px;
  }
  
 
  .image-section img {
    margin-left: 67%;
    height: 350px;
    width: 350px;
  }
  