/* Sidebar styles */
.sidebar {
    min-width: 220px;
    max-width: 220px;
    height: 100vh;
    position: relative;
    background-color: #fafdff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-right: 1px solid #cccccc7c;
}

.sidebar .logo {
    margin: 1rem 2rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.sidebar .logo h2 {
    color: #000000E0;
    margin: 0;
    font-size: 1.5rem;
}

.sidebar-menu {
    list-style: none;
    padding: 1rem 2rem;
}

.sidebar-menu li {
    padding: 14px 0;
}

.sidebar-item {
    display: block;
    color: #000000E0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 1px;
    transition: all 300ms ease-in-out;
}

.sidebar-item>i {
    color: #000000E0;
}

.sidebar-item:hover {
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}

.logout-btn {
    border: none;
    background-color: transparent;
    color: #fafafa;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 1rem 3rem;
    width: 100%;
    position: absolute;
    bottom: 3%;
    cursor: pointer;
}

.logout-btn i {
    color: red;
}