.add-results {
  width: 100%;
  padding: 2% 3%;
  background-color: #f5f5f5;
}

.add-results-container h3 {
  font-size: 18px;
  font-weight: 500;
  color: #000000E0;
}

.add-results-main {
  background-color: #fafdff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 2rem;
  padding: 2rem;
}

.add-results-info-details p {
  font-size: 14px;
  color: #000000E0;
}

.add-results-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.add-results-remove-btn > i {
  display: flex;
  font-size: 18px;
  justify-content: center;
  color: red;
}

.add-results-form-container {
  max-width: 600px;
  margin: 50px auto;
  background: #11140f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.add-results-form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.add-results-test-form .add-results-form-group {
  margin-bottom: 15px;
}

.add-results-test-form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.add-results-test-form input,
.add-results-test-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-results-test-form input:focus,
.add-results-test-form select:focus {
  outline: none;
  border-color: #007bff;
}

.add-results-section-title {
  font-size: 18px;
  margin-top: 20px;
  color: #444;
}

.add-results-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.add-results-row input {
  flex: 1;
}

.add-results-add-btn,
.add-results-remove-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-results-add-btn {
  background-color: #28a745;
  color: white;
  margin-top: 10px;
}

.add-results-add-btn:hover {
  background-color: #218838;
}

.add-results-submit-container {
  text-align: center;
  margin-top: 20px;
}

.add-results-submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-results-submit-btn:hover {
  background-color: #0056b3;
}

.add-results-form-section {
  gap: 20px;
  margin-bottom: 20px;
}

.add-results-tables {
  height: 350px;
  overflow-y: scroll;
}

.add-results-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.add-results-table th,
.add-results-table td,
.add-results-table tbody {
  padding: 10px;
  text-align: left;
}

.add-results-table th {
  padding: 20px 10px;
  background: #f5f5f5;
  color: #000000E0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.add-results-table td {
  font-size: 14px;
  font-weight: 500;
  color: #777777;
  padding: 15px 10px;
}

.add-results-table tr:nth-child(even) {
  background-color: #f5f5f585;
}

.add-results-action-buttons {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.add-results-add-row-btn {
  margin-right: 1rem;
  background: #22b6af;
  color: #fafafa;
  padding: 0.4rem 1rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #22b6af;
}

.add-results-print-btn {
  background: #22b6af;
  color: #fafafa;
  padding: 0.4rem 1rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #22b6af;
}
