/* patient-list */

.patient-list {
    background-color: #11140f;
    width: 100%;
    height: 100vh;
    padding: 2% 3%;
}

.dashboard-header {
    background-color: #007BFF;
    color: #fafafa;
    padding: 15px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.patient-list-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 2px solid #22b6af;
    padding-bottom: 10px;
    color: #fafafa;
}

.patient-list .container table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.patient-list .container table th,
.patient-list .container table td {
    border: 1px solid #fafafa;
    text-align: left;
    padding: 10px;
    color: #fafafa;
}

.patient-list .container table th {
    background-color: #22b6af;
    color: white;
}

.patient-list .container table tbody tr:nth-child(odd) {
    background-color: #11140f;
}

.patient-list .container table tbody tr:nth-child(even) {
    background-color: #11140f;
}

.action-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.btn-view {
    background-color: #28a745;
}

.btn-download {
    background-color: #17a2b8;
    margin: 0 1rem;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}

/* /patient-list */