.presc-a4-page {
  width: 794px;
  height: 1123px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 25px solid #22b6af;
}

.presc-header-top {
  display: flex;
  padding: 10px 30px;
}

.presc-lab-logo img {
  width: 100px;
  height: 100px;
}

.presc-header {
  width: 100%;
  text-align: center;
}

.presc-header h1 {
  font-size: 36px;
  color: #22b6af;
}

.presc-header p {
  margin: 5px 0;
  font-size: 14px;
  color: #000000e0;
}

.presc-mini-banner {
  text-align: center;
  background-color: #22b6af;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
  color: #fafafa;
  letter-spacing: 1px;
}

.presc-patient-info {
  margin: 30px;
  font-size: 14px;
}

.presc-patient-info table {
  width: 100%;
  border: 1px solid #cccccc;
}

.presc-patient-info td {
  padding: 5px;
}

.presc-rs-table {
  width: 100%;
  height: 95vh;
  margin: 30px;
  font-size: 14px;
}

.presc-rs-table h5 {
  text-align: center;
  font-size: 16px;
  color: #000000e0;
  font-weight: 600;
  margin-bottom: 1rem;
}

.presc-rs-table table {
  width: 92%;
}

.presc-rs-table th,
.presc-rs-table td {
  padding: 8px;
  text-align: left;
}

.presc-rs-table th {
  background-color: #ecf0f1;
  color: #2c3e50;
}

.presc-download-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 36px;
  text-align: center;
  color: #22b6af;
  padding: 1rem;
  position: fixed;
}
