/* Dashboard styles */
.dashboard {
    width: 100%;
    padding: 50px;
    background-color: #0000001a;
    display: flex;
}

.dashboard-summary {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.summary-item {
    width: 270px;
    height: 130px;
    background-color: #fafdff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.summary-item h3 {
    font-size: 16px;
    font-weight: 600;
    color: #777777;
}

.summary-item p {
    font-size: 2rem;
    color: #22b6af;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 1px;
}


.top-tests{
    margin: 0 auto;
    border: 2px solid #22b6af;
    border-radius: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 16px;
    font-weight: 600;
}

.tests-names{
    margin: 1rem 0;
}

.stats-tests {
    width: 340px;
    height: 550px;
    margin: 0 20px;
    padding: 20px;
    background-color: #fafdff;
}

.stats-tests li {
    font-size: 14px;
    font-weight: 400;
    color: #000000E0;
    border-bottom: 1px solid #cccccc;
    padding: 8px 0;
}

.stats-tests li i {
    color: #22b6af;
}