.receipt-page {
    width: 794px;
    height: 1123px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
  }
  
  .receipt-container {
    /* former .payment-receipt */
  }
  
  .receipt-header {
    text-align: center;
    color: #000000e0;
  }
  
  .receipt-header h2 {
    font-size: 32px;
    padding: 1rem 0;
    margin: 0;
  }
  
  .receipt-info-section {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.88);
    margin: 2rem 0px;
    background-color: #f5f5f5;
  }
  
  .receipt-info-section > div > p {
    padding: 1rem 0;
    margin: 0;
  }
  
  .receipt-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .receipt-table,
  .receipt-table th,
  .receipt-table td {
    border: 1px solid rgba(0, 0, 0, 0.88);
  }
  
  .receipt-table th {
    background-color: #f5f5f5;
  }
  
  .receipt-table th,
  .receipt-table td {
    padding: 8px;
    text-align: left;
  }
  
  .receipt-amount-info {
    width: 100%;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    color: #000000e0;
    padding-bottom: 5rem;
    border-bottom: 1px dotted #000000e0;
  }
  
  .receipt-download-btn {
    text-align: center;
    margin-top: 20px;
  }
  
  @media print {
    .receipt-download-btn {
      display: none !important;
    }
  
    .receipt-container {
      box-shadow: none;
      border: none;
      width: 100%;
      max-width: none;
      padding: 0;
    }
  }
  